{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}

Licensed under the Elastic License 2.0.
You may obtain a copy of the license at:
https://www.elastic.co/licensing/elastic-license

Use, modification, and redistribution permitted under the terms of the license,
except for providing this software as a commercial service or product.
